{% extends "base.html" %}
{% block title %}{{meeting.title}}{% endblock %}
{% block content %}
<form>
    <input type="hidden" id="length_in_minutes" value ="{{meeting.length_in_minutes}}"/>
</form>
<div>
    <div id="about_meeting">
        {% if meeting.expired %}
            <p id="expired">
                This meeting took place at {{meeting.date_time_started}} and lasted for {{meeting.length_in_minutes}} minutes
            </p>
        {% else %}
            <div id="counter">
                <span id="counter_minutes">{{meeting.length_in_minutes}}</span> minutes
            </div>
        {% endif %}
        <div id="title">
            <h3>{{meeting.title}}</h3>
            <p>{{meeting.purpose}}</p>
        </div>
    </div>
    <div id="meeting_notes">
        <div>
            <iframe src="{{meeting.etherpad_url}}?fullScreen=1"></iframe>
            <p><input type="text" value="{{meeting.etherpad_url}}"/></p>            
        </div>
    </div>
</div>

{% endblock %}

{% block run_script %}
    {% ifequal meeting.expired 0 %}
        var length_in_minutes = $('#length_in_minutes').val()
        var seconds_expired = {{offset_seconds}};
        setInterval(setTime, 1000);

        function setTime(){
            ++seconds_expired;
            minutes = parseInt(length_in_minutes) - parseInt(seconds_expired/60);
            if (minutes >= 0) {
                $("#counter_minutes").html(minutes)
            }
            //flash the warning
            if (minutes <= 0) {
                if((seconds_expired % 3) == 0){
                    $('html').addClass('timeup');
                }else{
                    $('html').removeClass('timeup');
                }
            }
        }
    {% endifequal %}
{% endblock %}